 .work-sans{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.dark{
    color: #070211;
}
.red{
    color: #FF0000;
}
.white{
    color: #FFFFFF;
}
.text-center{
 text-align: center;
}
 section{
     margin: 120px 140px;
 }

/* header styles */
.header{
    border-radius: 16px;
     background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
     url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px 0 140px 140px;
 }
.header-container{
    text-align: center;
   padding: 177px 344px;
    align-items: center;
    justify-content: center;
}
.header-title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}
.header-subtitle{
    color: rgb(255, 255, 255);
font-family: merriweather;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}

/* main styles */
.section{
    align-items: center;
    justify-content: center;
    padding: 120px 258px;
    width: 802px;
    height: 806px;
}
.section-title{
    color: #FF0000;
    text-align: center;
    font-weight: bold;
    font-size: 88px;
    margin-bottom: 48px;
}
.section-subtitle{
    color: #FF0000;
    text-align: center;
    font-size: 24px;
    font font-weight: 400; 
    
}
.h3{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    text-align: center;  
    margin-top: 16px;
}
/* Wellcome to midnight party */
.new{
    display: flex;
    border-radius: 16px;
 background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
 url("../images/Vectorrr.png");
 background-repeat: no-repeat;
 width: 1320px;
height: 600px;
margin: 120px 140px;
 }
 .new-title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
 }
 .new-description{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
 }
 .button{
    color: rgb(255, 255, 255);
    
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
 }
 .img{
    
 }



span{
    color: #FF0000;
}
 .section-heading{
    border-radius: 16px;
    width: 1320px;
    height: 482px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%); 
 
 }
 .heading-container{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
 }
 .btn-primary{
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
background: rgb(255, 0, 0);
height: 56px;
font-weight: 167px;
padding: 16px 32px;
 }


 /* NEW BEST OFFER */
 .sec-container{
    display: flex;
    gap: 90px;
    width: 1320px;
    height: 463px;
 }
 .subsec-container{
    width: 393px;
    height: 255px;
 }
 .sec-img{
 height: 363px;
 width: 363px;
 }
 .sec-2024{
    width: 276px;
    height: 170px;
 }
 .sec-subtitle{
    font-size: 24px;
    font-weight: 400;
    color: #FF0000;
 }
 .sec-title{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
margin-top: 16px;
margin-bottom: 22px;
 }
 .sec-description{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
 }
 .h1-title{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: left;
 }
 .img-alt{
    width: 140px;
    height: 140px;
 }